[tool.poetry]
name = "yellowbox"
version = "0.2.0"
description = ""
authors = ["biocatch ltd"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/biocatchltd/yellowbox"

[tool.poetry.dependencies]
python = "^3.7"
docker = "^4.2.0"
yaspin = "^1.0.0"
requests = "*"

redis = {version=">=3.3.0", optional=true}
pika = {version="*", optional=true}
kafka-python = {version="*", optional=true}
azure-storage-blob = { version = "^12.0.0", optional = true }
cffi = {version = "^1.14.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^6.0.0"
pytest-cov = "^2.10"
requests = "^2"
flake8 = "*"
pytype = "*"
pytest-xdist = "^2.1.0"

[tool.poetry.extras]
redis = ["redis"]
rabbit = ["pika"]
kafka = ["kafka-python"]
azure = ["azure-storage-blob", "cffi"]

all = ["redis", "pika", "kafka-python", "azure-storage-blob", "cffi"]

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
