name: Test YellowBox

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11', '3.12']
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install PIP
      run: |
        python -m pip install --upgrade pip
    - name: Install dependencies
      run: |
        python -m pip install poetry
        python -m poetry update --lock
        python -m poetry install -E dev
    - name: Lint
      if: ${{ matrix.python-version != '3.7' }}
      run: |
        poetry run sh scripts/lint.sh
    - name: Tests
      run: |
        poetry run sh scripts/unittest.sh
