name: Test YellowBox

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  unittest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install PIP
      run: |
        python -m pip install --upgrade pip
    - name: Install MSSQL ODBC
      uses: Yarden-zamir/install-mssql-odbc@main
      with:
        ODBC_VERSION: 18
    - name: Install dependencies
      run: |
        python -m pip install poetry
        python -m poetry update --lock
        python -m poetry install -E dev
    - name: Lint
      run: |
        poetry run sh scripts/lint.sh
    - name: Tests
      run: |
#        poetry run sh scripts/unittest.sh -x
        poetry run pytest tests/test_container_utils.py::test_build_create_and_pull tests/test_image_build.py::test_valid_image_build
